<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/landing.css">
  <link rel="icon" href="/res/icons/main-logo.png">
  <title>Landing Page</title>
</head>


<body>
  <%- include('partials/landingHeader.ejs')%>
    <div id="hero-section">
      <div id="hero-text-section">
        <div id="hero-text-section-inside">
          <h1>PREMIUM QUALITY DRESSED CHICKEN PRODUCTS</h1>
          <form action="/login">
            <button id="hero-order-now-btn">ORDER NOW</button>
          </form>
        </div>
      </div>
      <div id="hero-image-section">
        <img src="/res/images/dressed-chicken.jpg" alt="">
      </div>
    </div>

    <div id="about-section">
      <h1>About Us</h1>
      <div id="about-content">
        <div id="about-image-section">
          <img src="res/icons/main-logo.png" alt="">
        </div>
        <div id="about-text-section">
          <div id="about-text-section-inside">
            <div id="about-title">ST. JOHN TRADING</div>
            <p>St. John Trading is the Number One Trusted Distributor of Fresh Dressed Chicken Products in Iloilo City.
              We
              offer a range orf premium quality chicken products that meet the highest standards for quality and taste.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="products-section">
      <h1>AVAILABLE PRODUCT</h1>
      <div id="available-product-content">
        <div id="available-product-image">
          <img src="https://zamura.rw/wp-content/uploads/2017/10/Us3sqvd9Nm.jpg" alt="">
        </div>
        <div id="available-product-details">
          <h2>P 170.00</h2>
          <form action="/customer">
            <button>ORDER NOW</button>
          </form>
        </div>
      </div>
    </div>

    <div id="contact-section">
      <div id="contact-header">
        <h1>Contact Us</h1>
      </div>
      <div id="contact-content-container">
        <div id="contact-left-section">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1589.6919019487352!2d122.56387930664812!3d10.739332844067711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33aee584e7adb6cf%3A0x6b47b9358a24e695!2sAlta%20Tierra%20Village!5e0!3m2!1sen!2sph!4v1669092584448!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div id="contact-location-details">
            <h3>Address: Phase 1, 2nd Street, Alta Tierra Village Iloilo City</h3>
          </div>
        </div>
        <div id="contact-right-section">
          <h2>Get in Touch</h2>
          <div id="contact-number">0949713367</div>
          <div id="contact-fb">www.facebook.com/1983189</div>
        </div>
      </div>
    </div>
</body>

</html>